.row{
    justify-content: center;
    padding-top:5%;
}
.wide{
    
    background:linear-gradient(180deg,
    rgba(7,49,58,0)20%,
    rgba(17,17,17,0.6)100%);
}

.textStroke{
    width:100%;
    text-shadow: -0.8px -0.8px 0.4px #000, 0.8px 0.8px 0.4px #000, -0.8px 0.8px 0.4px #000, 0.8px -0.8px 0.4px #000;
}